HTR_API_ENV=development
HTR_API_HOST=127.0.0.1
HTR_API_PORT=8000
HTR_WORKER_HEARTBEAT_SECONDS=30
HTR_WORKER_LEASE_SECONDS=90
HTR_WORKER_POLL_SECONDS=1
HTR_SSE_HEARTBEAT_SECONDS=15
HTR_SSE_POLL_SECONDS=0.5
HTR_JOB_QUEUE_CAPACITY=32
HTR_JOB_MAX_ATTEMPTS=3
HTR_ML_DEVICE=auto
HTR_CRAFT_MAX_EDGE=2048
HTR_LINE_CROP_PADDING=0.08
HTR_TROCR_NUM_BEAMS=1
HTR_TROCR_MAX_NEW_TOKENS=128
HTR_DATA_ROOT=./data
HTR_ACCESS_CODE_TTL_SECONDS=900
HTR_SESSION_TTL_SECONDS=28800
HTR_ACCESS_ATTEMPT_LIMIT=5
HTR_ACCESS_ATTEMPT_WINDOW_SECONDS=300
HTR_SESSION_COOKIE_NAME=htr_session
HTR_COOKIE_SECURE=false
